google_api_key="AIzaSyCkfPOPZXDKNn8hhgu3JrA62wIgC93d44k"
google_default_client_id="811574891467.apps.googleusercontent.com"
google_default_client_secret="kdloedMFGdGla2P1zacGjAQh"

# The "host" represents the computer doing the compile and never changes.
# The "target" represents the main thing we're trying to build.
# This gives the following variables:
#  - host_os, host_cpu, host_toolchain
#  - target_os, target_cpu, default_toolchain (or custom_toolchain)

custom_toolchain="//build/toolchain/linux/unbundle:default"

## Straight build
#host_toolchain="//build/toolchain/linux/unbundle:default"
## Cross build
host_toolchain="//build/toolchain/linux/unbundle:host"
v8_snapshot_toolchain="//build/toolchain/linux/unbundle:host"
##

target_cpu="arm"
target_os="linux"
####

#### Toolchain setup
clang_use_chrome_plugins=false
cc_wrapper="ccache"
clang_base_path=getenv("HOME")+"/.bbxb/toolchain/llvm-13.0.0"
use_custom_libcxx=false
pkg_config=getenv("HOME")+"/.bbxb/raspios/rpi3/toolchain/bin/arm-linux-gnueabihf-pkg-config"
host_pkg_config="pkg-config"
#use_gold=false
is_debug=false
is_official_build=true
is_component_build=false
is_component_ffmpeg=true
enable_nacl=false
symbol_level=0 
blink_symbol_level=0
v8_symbol_level=0
#concurrent_links=1
use_thin_lto=true
thin_lto_enable_optimizations=true
use_lto_in_rustc_linking=true
chrome_pgo_phase=0
enable_stripping=true
use_goma=false
treat_warnings_as_errors=false
fatal_linker_warnings=false
use_unofficial_version_number=false
##is_desktop_linux=true
####

use_sysroot=false
target_sysroot=getenv("HOME")+"/.bbxb/raspios/rpi3/distos"

#### Platform setup
arm_arch="armv8-a+crc"
arm_float_abi="hard"
arm_fpu="neon-fp-armv8"
#arm_optionally_use_neon=true
arm_tune="cortex-a53"
arm_use_neon=true
arm_use_thumb=false
arm_version=8
####

#use_allocator="none"
use_gnome_keyring=false
is_cfi=false
use_system_harfbuzz=false
use_system_libjpeg=false
rtc_enable_protobuf=false

use_vaapi=true
use_libgav1_parser=true
optimize_webui=true
use_gio=true
use_ozone=true
use_pulseaudio=true
link_pulseaudio=true
enable_widevine=true
proprietary_codecs=true
ffmpeg_branding="Chrome"
rtc_use_h264=true
#enable_hangout_services_extension=true ### Not actually needed
#enable_mdns=true
#enable_wayland_server=false
##fieldtrial_testing_like_official_build=true
#use_alsa=true
#use_aura=true
#use_cups=true
#use_dbus=true
#use_glib=true
#use_libpci=true